.head{
    background-image:url("../backgrounds/h_img.jpg");

      text-align:center;
      background-size:cover;
      /* padding:30px; */
      
 }
  h1{
    color:white;
      font-size:40px;
      font-family:sans-serif;
     text-align:center;
       
      }
     .image{
       text-align: center;
       padding:300px;
     }
     .header{
       color:white;
     }