.head{
    background-image:url("../backgrounds/h_img.jpg"  );

      text-align:center;
      background-size:cover;
      padding:30px;
      
 }
  h1{
    color:white;
    height:10px;
    color:white;
      /* top:10%;
      left:30%; */
     padding:100px;
      font-size:30px;
      font-family:sans-serif;
     
       
      }
     .image{
       text-align: center;
     }
     
     .header{
       color:white;
       font-size:15px;
       line-height: 40px;
           }
     h2{
      justify-content:center;
      display:flex;
      text-align:center;
     }
     p{
      font-size:20px;
      text-align:center;
     }
        .mid{
          background-image:url("../backgrounds/s_image.jpg");
      
            text-align:center;
            color:white;
            height: 500px;
            background-repeat:no repeat;
          
      }
      h3{
        color:white;
      font-size:40px;
      font-family:sans-serif;
     text-align:center;
     padding:200px;
   

      }
      .services{
        font-size:30px;
      }
      .design,.development,.product{
      
     width:300px;
     margin: top;
     text-align: center;
     font-family:none;
        }
     .icons{
          display:flex;
       flex-direction:row;
       justify-content:space-around;
       text-align:center;

     }
 h5{
text-align: center;
font-family:sans-serif;
font-size: 30px;
  };
.mouse{
  margin-top: 100%;
}

       
     