.head{
    background-image:url("../backgrounds/h_img.jpg"  );

      text-align:center;
      background-size:cover;
      line-height: 70px;
      
 }
  h1{
    color:white;
    height:70px;
    
    color:white;
      /* top:10%;
      left:30%; */
     padding:300px;
      font-size:20px;
      font-family:sans-serif;
     
       
      }
     .image{
       text-align: center;
       
     }
     
     .header{
       color:white;
       font-size:15px;
       line-height: 40px;
     }
      
    .head1{
      margin-top: 100px;
      color: white;
      font-size: 17px;
      margin-top: -40px;
    }
    .img1{
      margin-top:10x;
    }
     .delani{
       font-size: 50px;
     }

    
    /* .mouse{
      margin-top:250px; */
      
    
    .size{
      font-size: 15px;
    }
    .up{
      margin-top:-10%;
    }
    .agile{
      text-align: center;
    }
    .approach{
    
      margin-left: 100px;
    } 
    .we{
      margin-left: 60px;
    }
    .Then{
      margin-left: 250px;
    }
    .S{
      font-size: 30px;
  /* margin-bottom: 5px; */
    }
    
    /* .Before{
    padding:50px;
    padding-top:100px  */
     
    
     h2{
      justify-content:center;
      display:flex;
      text-align:center;
     }
     p{
      font-size:20px;
      text-align:center;
     }
     .about{
       font-family: sans-serif;
       /* font-size: 25px; */

     }
     .us{
       font-size:17px;;
       font-family: sans-serif;
       /* line-height: 30px; */
       margin-left: 70px;
     }
        .mid{
          background-image:url("../backgrounds/s_image.jpg");
          background-repeat:no-repeat;
      
            text-align:center;
            color:white;
            height: 600px;
         
            
          
      }
      h3{
        color:white;
      font-size:40px;
      font-family:sans-serif;
     text-align:center;
     padding:200px;
   

      }
      .services{
        font-size:30px;
      }
      .design,.development,.product{
        width:300px;
  margin: top;
  text-align: center;
  font-family:none;
        }
     .icons{
          display:flex;
       flex-direction:row;
       justify-content:space-around;
       /* text-align:center; */

     }
 h5{
text-align: center;
font-family:sans-serif;
font-size: 30px;
  };
.mouse{
  margin-top: 100%;
}
/* .black,.antario,.yellow,.home{ */
       /* width:100px;
       height:100px; */
  /* margin: top;
  text-align: center;
  font-family:none;
     } */
  .potifolio{
       display:flex;
    flex-direction:row;
    justify-content:space-around;
    /* text-align:center        */
  }
  /* .good,.white,.burned,.wonger{

text-align: center;
font-family:none;
  } */
  .potifolio2{
    display:flex;
 flex-direction:row;
 justify-content:space-around;
 /* text-align:center ; */
  }
  h6{
  text-align: center;
font-family:sans-serif;
font-size: 30px;
}
.contact{
  background-image:url("../backgrounds/c_image.jpg"  );
height:500px;
width:1500px; 
    background-size:cover;
 /* margin-left: 50px;
margin-right: 50px;  */
}
footer{
  margin-left: 150px;
  padding: 50px;
}
.foot{
 margin-left: 350px;
 margin-top: -40px;
}
.year{
  margin-left: 30px;
}